.form {
  text-align: center;
  padding: 40px;
}

.form input,
.form button {
  background-color: rgba(255, 255, 255, .2);
  padding: 12px 24px;
  border: none;
  outline: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

.form input {
  border-radius: 40px 0 0 40px;
  width: 100%;
  max-width: 320px;
}
.form button {
  background-color: rgba(255, 255, 255, .1);
  border-radius: 0 40px 40px 0;
  cursor: pointer;
  text-transform: uppercase;
}