.form {
  text-align: center;
  padding: 60px 20px 40px;
  color: #C9C9CF;
  display: flex;
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
}

.form input,
.form button {
  padding: 8px 24px;
  border: none;
  outline: none;
  color: inherit;
}

.form input {
  border-radius: 40px 0 0 40px;
  width: 100%;
  background-color: var(--color-item-bg);
}

.form button {
  background-color: var(--color-section-header);
  border-radius: 0 40px 40px 0;
  cursor: pointer;
  text-transform: uppercase;
}

@media screen and (max-width: 400px) {
  .form {
    padding: 40px 12px 30px;
  }

  .form input,
  .form button {
    padding: 8px 14px;
  }
}