.list {
  background-color: var(--color-section-bg);
}


.list h3 {
  background-color: var(--color-section-header);
  padding: 16px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.list ul {
  padding: 21px;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column; */
  display: grid;
  gap: 21px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: flex-start;
}


.list li button {
  text-align: left;
  border: none;
  background-color: transparent;
  transition: color .3s, border-radius .6s;
  color: #d8d7e2;
  padding: 8px 18px;
  border-radius: 4px;
  display: block;
  width: 100%;
  background-color: var(--color-item-bg);
}

.list li button:hover {
  color: #EBADAF;
  border-radius: 40px;
}

.readMore {
  display: block;
  width: 100%;
  background-color: var(--color-main-header);
  outline: none;
  border: none;
  color: white;
  padding: 12px 8px;
  transition: background-color .2s;
}

.readMore:hover {
  background-color: #72464F;
}

.placeholder {
  text-align: center;
  padding: 12px;
  color: #d8d7e2;
}

@media screen and (max-width: 800px) {
  .list ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 400px) {
  .list ul {
    grid-template-columns: repeat(2, 1fr);
  }
}