.app {
  min-height: 100vh;
  overflow-x: hidden;
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  margin-bottom: 40px;
  text-align: center;
}

.textContainer p {
  opacity: .7;
  font-style: italic;
  margin-bottom: 8px;
}

.textContainer h2 {
  font-size: 36px;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.listContainer {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 400px) {
  .listContainer {
    padding-left: 12px;
    padding-right: 12px;
  }

  .textContainer {
    height: 60px;
    margin-bottom: 30px;
  }
  .textContainer h2 {
    font-size: 28px;
  }
}
