.App {
  background-color: #2A333C;
  min-height: 100vh;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #4E5656;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

.flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  /* align-items: flex-start; */
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section {
  background-color: #555;
}

.section:nth-child(3) {
  grid-column: span 2;
}

.section h3 {
  background-color: #444;
  padding: 16px;
  /* line-height: 1; */
}

.section ul {
  padding: 16px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
}

.section:last-child ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, 160px);
}

.section li {
  padding: 4px;
  flex: 0 1 50%;
}

.section li button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: color .2s;
}
.section li button:hover {
  color: orange;
}

.section:last-child {
  margin-right: 0;
}

form {
  text-align: center;
  padding: 40px;
}

form input,
form button {
  background-color: rgba(255, 255, 255, .2);
  padding: 12px 24px;
  border: none;
  outline: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

form input {
  border-radius: 40px 0 0 40px;
  width: 100%;
  max-width: 320px;
}
form button {
  background-color: rgba(255, 255, 255, .1);
  border-radius: 0 40px 40px 0;
  cursor: pointer;
  text-transform: uppercase;
}