@import url('https://fonts.googleapis.com/css2?family=Lato&family=Sansita+Swashed:wght@600&display=swap');
:root {
  --color-main-bg: #28262c;
  --color-section-bg: #323036;
  --color-main-header: #59363D;
  --color-section-header: #3B3A41;
  --color-item-bg: #44434C;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  line-height: 1.6;
  background-color: var(--color-main-bg);
  font-family: 'Lato', sans-serif;
  color: #C9C9CF;
}

h1 {
  font-family: 'Sansita Swashed', cursive;
}

li {
  list-style: none;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
}
